.main-wrapper {
    display: flex;
    width: 60%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.wrapp-for-card {
    width: 60%;
    height: 65%;
    margin-top: 50px;
}

.row {
    height: 100%;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.country-dropdown {
    height: 38px;
    border: 1px solid #cfcfcf;
    margin-right: 20px;
    border-radius: 4px;
    color: #707070;
    padding-left: 8px;
    width: 85%;      
}

.country-group {
    display: flex;
}

.country-dropdown:active {
    border: none;
}

.first-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px 0 40px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.second-container {
    background-color: #f2f4ff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.wrapp-for-card h4 {
    color: #7f00ad;
    padding: 16px 0 16px 0;
}

.wrapp-for-card label {
    color: #7f00ad;
}

.mb-3 p {
    color: #6e6e6e;
    font-size: 13px;
    margin: 0 40px 0 20px;
}

.row button {
    background-color: #7f00ad;
    margin-top: 15px;
    width: 44%;
}

.frontend-text {
    color: #7f00ad;
    font-weight: 200;
}

.navigation {
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: #ffffff!important;
}

.navigation::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0.5px;
    background-color: #f6c;
    width: 100%;
}

.cart-text {
    color: #cf4dff;
    font-weight: 400;
}

.order {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.order a {
    color: #6e6e6e;
}

.card {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    border: 0;
    background-color: #f2f4ff;
}

.card:not(:first-child) {
    margin-top: 1rem;
}

.card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -8px;
    background-color: #e3e1eb;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 7px;
    font-size: 10px;
    font-weight: 500;
}

.card-title {
    font-size: 12px;
    margin-bottom: 0;
    color: #6e6e6e;
}

.list-group {
    margin-top: 1rem;
    position: relative;
}

.list-group-item {
    background-color: #f2f4ff;
    border: 0;
    padding: 0.3rem 0 0 0;
    font-size: 12px;
    color: #6e6e6e;
}

.list-group::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -8px;
    background-color: #e3e1eb;
}