.main-wrapper {
    display: flex;
    width: 60%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.wrapp-for-card {
    width: 60%;
    height: 65%;
    margin-top: 50px;
}

.row {
    height: 100%;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.col-7 {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px 0 25px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    max-width: 100%;
}

.breadcrumb {
    background-color: #ffffff;
    font-size: 13px;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding: 0;
    height: 10%;
    padding-bottom: 10px;
}

.breadcrumb-item.active {
    color: #7f00ad;
}

.breadcrumb a {
    color: #6e6e6e;
    text-decoration: none;
}

.second-container {
    height: 100%;
    background-color: #f2f4ff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.wrapper-for-title {
    display: flex;
    justify-content: space-between;
}

.wrapper-for-title a {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    padding: 26px 0 16px 0;
    color: #7f00ad;
}

.top-wrapper {
    height: 53%;
}

.wrapper-for-inputgroup {
    height: 90%;
    display: flex;
    flex-direction: column;
}

.shipping-info {
    color: #7f00ad;
    font-size: 27px;
    padding: 26px 0 16px 0;
}

.payment-info {
    color: #7f00ad;
    font-size: 27px;
    padding: 26px 0 0 0;
}

.wrapp-for-payment {
    padding-bottom: 20px;
}

.wrapp-for-payment p {
    color: #6e6e6e;
    font-size: 14px;
}

.wrapp-for-card label {
    color: #7f00ad;
}

.mb-3 p {
    color: #6e6e6e;
    font-size: 13px;
    margin: 0 40px 0 20px;
}

.form-control {
    color: #000;
    font-weight: bold;
}

.col-7 input[placeholder] {
    text-overflow: ellipsis;
    font-weight: 400;
}

.col-7 input::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

.country-dropdown {
    height: 38px;
    border: 1px solid #cfcfcf;
    margin-right: 20px;
    border-radius: 4px;
    color: #707070;
    padding-left: 8px;
    width: 85%; 
}

.country-group {
    display: flex;
}

.country-dropdown option:checked {
    color: #000;
}

.row button {
    background-color: #7f00ad;
    margin-top: 15px;
    width: 44%;
}

.pay-btn {
    margin-top: 25px !important;
}

.expire-date {
    padding-right: 15px !important;
}

.security-code {
    padding-right: 70px !important;
}

.frontend-text {
    color: #7f00ad;
    font-weight: 200;
}

.navigation {
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: #ffffff!important;
}

.navigation::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0.5px;
    background-color: #f6c;
    width: 100%;
}

.cart-text {
    color: #cf4dff;
    font-weight: 400;
}

.order {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.order a {
    color: #6e6e6e;
}

.card {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    border: 0;
    background-color: #f2f4ff;
}

.card:not(:first-child) {
    margin-top: 1rem;
}

.card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -8px;
    background-color: #e3e1eb;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 7px;
    font-size: 10px;
    font-weight: 500;
}

.card-title {
    font-size: 12px;
    margin-bottom: 0;
    color: #6e6e6e;
}

.list-group {
    margin-top: 1rem;
    position: relative;
}

.list-group-item {
    background-color: #f2f4ff;
    border: 0;
    padding: 0.3rem 0 0 0;
    font-size: 12px;
    color: #6e6e6e;
}

.wrapper-for-list-group {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.wrapper-for-list-group::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -8px;
    background-color: #e3e1eb;
}

.total-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 12px;
    color: #250029;
}

.footer-text {
    font-size: 10px;
    color: #6e6e6e;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.bottom-wrapper {
    display: flex;
    height: 47%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}